/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */


[data-type="noon/carousel-image"]{ 

  display: inline-block;
  width: 100%;
  margin-top: var(--bs-gutter-x, 0.75rem) !important;
  margin-bottom: var(--bs-gutter-x, 0.75rem) !important;

  .image_wapper{

    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;

  }

}