@import '../../common';


[data-type="noon/partners"]{

  max-width: none !important;

  .wrapper{

    padding-top: 3rem;
    padding-bottom: 2rem;

  }

  h2.standard{

    text-transform: uppercase;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 2rem;
    letter-spacing: 0.25px;


    &::before{

        content: '—  ';
        color: $accent;

    }
    
  }

  h2.large{

    font-weight: 600;

  }

}
