/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 $black: rgb(41, 41, 41);
 $white: #f4f4f4;
 $gray: #dedede;
 $green: #bada55;
 $red: orangered;

 .wp-block-cgb-block-multi-block  {
    background: $red;
    border: 0.2rem solid $black;
    color: $black;
    margin: 0 auto;
    max-width: 740px;
    padding: 2rem;
  }