/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 @import 'bootstrap/scss/bootstrap-utilities.scss';
 @import 'bootstrap/scss/_accordion.scss';
 @import 'bootstrap/scss/bootstrap-grid.scss';

//  $black: rgb(41, 41, 41);
//  $white: #f4f4f4;
//  $gray: #dedede;
//  $green: #bada55;
//  $red: orangered;

 [data-type="noon/accordian-parent"]{

    max-width: none !important;


   h2{
      margin-top: 0;
      margin-bottom: 0;
   }

 }

//  .wp-block-cgb-block-multi-block  {
//     background: $green;
//     border: 0.2rem solid $black;
//     color: $black;
//     margin: 0 auto;
//     max-width: 740px;
//     padding: 2rem;
//   }

// .parent-accordian-in-editor  {
//     background: rgba(lightskyblue, 0.3);
//     border: 0.2rem dashed $black;
//     color: $black;
//     margin: 0 auto;
//     max-width: 100%;
//     padding: 2rem;

//     .block-editor-inner-blocks .block-editor-block-list__layout {

//         display: flex;
//         flex-wrap: wrap;
//         width: 100%;
//         max-width: 100%;

//         .block-editor-block-list__block {
//             flex: 1 0 0%;
//             // float: left;
//             display: inline-block;
//             width: 100%;
//             max-width: 100%;
//             margin-left: 10px;
//             margin-right: 10px;
//         }

//     }
    
// }