/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 @import 'bootstrap/scss/bootstrap-utilities';
 @import 'bootstrap/scss/accordion';
 @import '../../common';


 [data-type="noon/accordian-child"]{

  max-width: none !important;

    margin-top: 0;
    margin-bottom: 0;
    
}

//  $black: rgb(41, 41, 41);
//  $white: #f4f4f4;
//  $gray: #dedede;
//  $green: #bada55;
//  $red: orangered;

//  .wp-block-cgb-block-multi-block, .child-accordian-in-editor {
//     background: rgba($red, 0.2);
//     border: 0.2rem solid $black;
//     color: $black;
//     margin: 0 auto;
//     max-width: 740px;
//     padding: 2rem;
   

//     flex: 1 0 0%;


//     .block-editor-block-list__layout{

//         display: block !important;
      
//     }

//   }

.images_for_buttons {
    height: 50px !important;
    width: 50px !important;
}

.upload-button-images {
    border:2px black solid;
    height: 70px;
    width: 120px;
    display: inline-flex;
    padding: 10px;
}

.accordion-collapse{
  display: none;
}

.accordion-collapse.show{
  display: block;
}

.accordion-item{
  border: none;
}

.accordion-button{
  border: none;
}
span.number{
    color: $accent;
    margin-right: 0.5rem;
    font-weight: 600;
}