$black: rgb(41, 41, 41);

[data-type="noon/carousel-child"]{ 
  
  background-color: rgba( $black, 0.1 );
  margin-right: 15px !important;
  margin-left: 0 !important;

  &.is-selected{

      border: 4px dashed rgba( $black, 0.1 );

  }

  .block-editor-block-list__layout{ 
    display: block !important;
  }

}