$primary: #02182B;
    $primary-95: #0e2335;
    $primary-65: #5D6874;
    $primary-5: #eeeff1;
    // $primary-25: #eeeff1; 

$accent: #ED5C5A;
    $accent-80: #F17C7A;
    $accent-7: #FEF4F4;
$white: #FDFFFC;
$white70: #FDFFFCC0;
$black: #000;


// Map
$colors: (
    'primary-100' : $primary,
    'primary-95' : $primary-95,
    'primary-65' : $primary-65,
    'primary-5' : $primary-5,

    'accent-100' : $accent,
    'accent-80' : $accent-80,
    'accent-7' : $accent-7,

    'white' : $white,
    'black' : $black,

);