/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$primary: #02182B;
    $primary-95: #0e2335;
    $primary-65: #5D6874;
    $primary-5: #eeeff1;
    // $primary-25: #eeeff1; 

$accent: #ED5C5A;
    $accent-80: #F17C7A;
    $accent-7: #FEF4F4;
$white: #FDFFFC;

$containerMaxWidth: 1440px;


// Bootstrap 
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
