.editor-styles-wrapper .wp-block[data-type="noon/cover-image"] {


    max-width: 100%;


    .wrapper{
      position: relative;
      display: block;
      width: 100%;
      height: 400px;
      overflow: hidden;

      .background_images{

        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
        padding: 0;
        border: none;
        margin: auto;
        display: block;
        width: 0;
        height: 0;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: 50% 50%;

      }

    }

}