@import '../../common';

$quoteMarkPadding: 4rem;

.wp-block[data-type="noon/quote"]{

  background-color: $primary;
  color: $accent-7;
  max-width: 100%;

  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: "Niveau Grotesk","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

  .content{

    max-width: 870px;
    margin:  0 auto;

    .quote{

      margin: 0;
      position: relative;
      text-align: center;
      font-size: 2rem;
      line-height: 1.4;
      font-weight: 700;
      

      padding-top: $quoteMarkPadding;
      padding-bottom: $quoteMarkPadding;


      &::before, &::after{
        content: '"';
        display: block;
        color: $accent;
        font-size: 5.5rem;
        position: absolute;

        left: 0;
        right: 0;

      }

      &::after{
        bottom: -( $quoteMarkPadding / 2);
      }

      &::before{
        top: 0;
      }
      
    }

    .quoteCompany, .quoteName{

      position: relative;
      text-align: center;
      font-size: 1.375rem;
      line-height: 1.3;
      display: block;
      margin: 0;

    }
    .quoteName{
      font-weight: 700;
      margin-bottom: 0.25rem;
    }
    .quoteCompany{
      font-weight: 100;
    }

  }

}
