/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 $white: #fff;
 $black: rgb(41, 41, 41);
 $gray: #dedede;
 $green: #bada55;
 $red: orangered;


[data-type="noon/carousel"]{

    max-width: none !important;
    color: $black;
    overflow: hidden;

    &.is-selected{

        border: 4px dashed rgba( $black, 0.1 );

    }

    .child-carousel-in-editor {

        width: 250px;
        color: $black;


    }

    .container{

        max-width: 90%;
        margin: 0 auto;
        padding: 15px;
        overflow: hidden;

        .block-editor-inner-blocks .block-editor-block-list__layout{

            display: flex;
            width: 100%;
            max-width: 100%;
            overflow: scroll;

        }
   
    }

}

.image_height{

    .components-panel__row{

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;

        align-items: flex-start;

        .components-base-control{

            flex: 1 0 0%;
            margin-bottom: 0;
            margin-top: 0;
            
            &:last-of-type{

                max-width: 30%;

                label{

                    margin-bottom: 7px;

                }

            }

        }

    }

}

// Current errors from npm run start in this file annoyingly

// assets by status 622 KiB [cached] 2 assets
// assets by path . 242 KiB
// asset index.css 242 KiB [emitted] (name: index) 1 related asset
// asset index.asset.php 212 bytes [emitted] (name: index)
// Entrypoint index 864 KiB (799 KiB) = style-index.css 9.81 KiB index.css 242 KiB index.js 612 KiB index.asset.php 212 bytes 3 auxiliary assets
// cached modules 415 KiB (javascript) 233 KiB (css/mini-extract) 4.49 KiB (runtime) [cached] 224 modules
// orphan modules 3.92 KiB [orphan] 1 module
// cacheable modules 50 bytes (javascript) 1.27 KiB (css/mini-extract)
// ./src/noonCarouselParent/scss/editor.scss 50 bytes [built]
// css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/noonCarouselParent/scss/editor.scss 1.27 KiB [built] [code generated]

// WARNING in ./src/noonCarouselParent/scss/editor.scss (./src/noonCarouselParent/scss/editor.scss.webpack[javascript/auto]!=!./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/noonCarouselParent/scss/editor.scss)
// Module Warning (from ./node_modules/postcss-loader/dist/cjs.js):
// Warning

// (39:3) autoprefixer: start value has mixed support, consider using flex-start instead
// @ ./src/noonCarouselParent/scss/editor.scss
// @ ./src/noonCarouselParent/block.js 4:0-28
// @ ./src/index.js 23:0-39

// webpack 5.60.0 compiled with 1 warning in 117 ms