.has-primary-100-color {
  color: #02182B;
}

.has-primary-100-background-color {
  background-color: #02182B;
}

.has-primary-95-color {
  color: #0e2335;
}

.has-primary-95-background-color {
  background-color: #0e2335;
}

.has-primary-65-color {
  color: #5D6874;
}

.has-primary-65-background-color {
  background-color: #5D6874;
}

.has-primary-5-color {
  color: #eeeff1;
}

.has-primary-5-background-color {
  background-color: #eeeff1;
}

.has-accent-100-color {
  color: #ED5C5A;
}

.has-accent-100-background-color {
  background-color: #ED5C5A;
}

.has-accent-80-color {
  color: #F17C7A;
}

.has-accent-80-background-color {
  background-color: #F17C7A;
}

.has-accent-7-color {
  color: #FEF4F4;
}

.has-accent-7-background-color {
  background-color: #FEF4F4;
}

.has-white-color {
  color: #FDFFFC;
}

.has-white-background-color {
  background-color: #FDFFFC;
}

.has-black-color {
  color: #000;
}

.has-black-background-color {
  background-color: #000;
}

.wp-block-spacer {
  background-color: rgba(0, 0, 0, 0.1);
}

.has-primary-100-background-color .wp-block-spacer {
  background-color: rgba(253, 255, 252, 0.1);
}